@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  height: 170px;
  background-color: #fff;
}
.logo-container {
  padding-top: 35px;
  .logo {
    display: block;

    width: 585px;
    height: 111px;
    margin-left: 20px;
    img {
      max-width: 100%;
    }
  }
}
.header-social-container {
  padding-top: 60px;
  .header-social {
    @extend .clearfix;
    li {
      display: inline-block;
      float: left;

      width: 50px;
      height: 50px;
      margin: 0 10px 0 0;

      border-radius: 50px;
      a {
        font-size: 30px;
        line-height: 1.6;

        display: block;

        width: 50px;
        height: 50px;

        text-align: center;

        color: $violet;
        border: 1px solid $violet;
        border-radius: 50%;
      }
      &:hover {
        a {
          color: darken($violet, 10%);
          border-color: darken($violet, 10%);
        }
      }
    }
  }
}

nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
  &.nav__header {
    height: 58px;
margin-bottom: 58px;
    text-align: center;

    @include linear-gradient(#969696, #717171);
    ul {
      display: block;




      text-align: center;
      li {
        font-size: 24px;

        display: inline-block;

        text-transform: uppercase;
        a {
          color: #fff;
          border-color: red;
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $gray-light;
  .inner {
    height: $footer;
  }
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,400italic,300italic,200italic,700italic,700);
@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';
