@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
  &.page-template-front-page {
    .nav__header {
      position: relative;
      &:after {
        position: absolute;
        top: 58px;
        right: 0;
        left: 0;

        height: 300px;

        background-image: url(../img/home-image.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @extend .dblock;
      }
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.btn {
  font-size: 16px;

  text-align: center;
  text-decoration: none;

  color: #fff;
  box-shadow: 0 3px 1.98px .02px rgba(168, 103, 208, .004);
  &.btn-violet {
    background-color: $violet;
  }
  &:hover {
    text-decoration: none;
    &.btn-violet {
      background-color: darken($violet, 15%);
    }
  }
}
.container {
  position: relative;

  max-width: $width;
}

header {
  height: 170px;

  background-color: #fff;
}
.logo-container {
  padding-top: 35px;
  .logo {
    display: block;

    width: 585px;
    height: 111px;
    margin-left: 20px;
    img {
      max-width: 100%;
    }
  }
}
.header-social-container {
  padding-top: 60px;
  .header-social {
    @extend .clearfix;
    li {
      display: inline-block;
      float: left;

      width: 50px;
      height: 50px;
      margin: 0 10px 0 0;

      border-radius: 50px;
      a {
        font-size: 30px;
        line-height: 1.6;

        display: block;

        width: 50px;
        height: 50px;

        text-align: center;

        color: $violet;
        border: 1px solid $violet;
        border-radius: 50%;
      }
      &:hover {
        a {
          color: darken($violet, 10%);
          border-color: darken($violet, 10%);
        }
      }
    }
  }
}

nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
  &.nav__header {
    height: 58px;
    margin-bottom: 50px;

    text-align: center;

    @include linear-gradient(#969696, #717171);
    ul {
      display: block;

      padding-top: 7px;

      text-align: center;

      @extend .justify-child;
      li {
        font-size: 24px;

        display: inline-block;

        text-transform: uppercase;

        border-radius: 10px;
        a {
          display: block;

          padding: 0 20px;

          color: #fff;
          border-color: red;
        }
        &:hover {
          background-color: $gray-dark;
          a {
            text-decoration: none;
          }
        }
        &.current-menu-item,
        &.current-post-ancestor {
          background-color: $gray-dark;
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
  .page-title {
    font-size: 60px;
    line-height: 45px;

    position: relative;

    margin-bottom: 40px;
    padding-bottom: 25px;

    text-align: center;
    &:after {
      position: absolute;
      right: 24%;
      bottom: 0;
      left: 24%;

      width: 48%;
      height: 1px;

      background-color: $gray-dark;

      @extend .dblock;
    }
  }
}
article {
  @extend .clearfix;
  ul {
    padding-left: 40px;

    list-style-type: disc;
    li {
      &:before {
        display: none;
      }
    }
  }
  span {
    &.date {
      font-size: 24px;
      font-weight: 200;

      display: block;

      text-align: right;

      color: #000;
    }
  }
  form {
    width: 100%;
    max-width: 365px;
    margin: 0 auto 50px;

    text-align: center;
    input {
      font-size: 15px !important;

      width: 100%;
      margin-bottom: 10px;
      padding-right: 50px !important;
      padding-left: 50px !important;

      border: 1px solid #000 !important;
      &.btn {
        font-size: 16px;

        width: 140px;
        margin: 0 auto;
        padding-right: 0 !important;
        padding-left: 0 !important;

        text-align: center !important;
      }
    }
    textarea {
      font-size: 15px;

      height: 150px;
      margin-bottom: 30px;
      padding-right: 50px !important;
      padding-left: 50px !important;

      border: 1px solid #000;
    }
  }
  .article-inside {
    margin-bottom: 70px;
    padding-right: 110px;
    padding-left: 110px;

    text-align: center;
  }
  .circle-carousel {
    margin-bottom: 6px;
  }
  .article-contacts {
    padding-top: 60px;
    h6 {
      font-size: 30px;

      position: relative;

      margin-bottom: 30px;

      text-align: center;
      &:before {
        position: absolute;
        z-index: -1;
        top: 50%;
        right: 0;
        left: 0;

        height: 1px;

        background-color: #000;

        @extend .dblock;
      }
      span {
        padding-right: 30px;
        padding-left: 30px;

        background-color: #fff;
      }
    }
  }
  .post-navi {
    display: block;

    width: 100%;
    padding: 60px 0;

    @extend .clearfix;
    li {
      font-size: 30px;

      position: relative;

      display: inline-block;
      float: left;

      width: 50%;
      padding-left: 30px;

      text-align: left;
      &:before {
        position: absolute;
        top: -2px;
        left: 0;

        content: '<';
      }
      a {
        text-decoration: none;

        color: #000;
      }
      &:hover {
        a {
          text-decoration: none;

          color: $violet;
        }
        &:before {
          color: $violet;
        }
      }
      &:last-child {
        padding-right: 30px;
        padding-left: 0;

        text-align: right;
        &:before {
          right: 0;
          left: auto;

          content: '>';
        }
      }
    }
  }
  &.article-about {
    padding-top: 345px;

    text-align: center;
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 36px;

      text-transform: uppercase;
    }
    p {
      font-size: 24px;

      margin-bottom: 30px;
    }
  }
  .contact-body {
    font-size: 30px;

    position: relative;

    display: block;

    margin: 0 0 20px;

    text-align: center;

    color: #000;
    &:before {
      position: relative;
      top: 3px;

      margin-right: 10px;

      @extend .fa;
      @extend .dblock;
    }
    &:hover {
      text-decoration: none;
    }
    &.contact-phone {
      &:before {
        content: '\f095';
      }
    }
    &.contact-vk {
      margin-bottom: 60px;
      padding-bottom: 50px;
      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;

        width: 240px;
        height: 1px;
        margin-left: -120px;

        background-color: #000;

        @extend .dblock;
      }
      &:before {
        top: -1px;

        content: '\f189';
      }
    }
  }
  .table-price {
    width: 100%;
    td {
      vertical-align: top;

      border: 0;
      &:first-child {
        font-size: 24px;

        padding-right: 30px;
        h5 {
          font-size: 28px;
          font-weight: bold;
        }
      }
      &:last-child {
        width: 30%;

        text-align: center;
        span {
          font-size: 50px;
          font-weight: 200;
        }
      }
    }
  }
}
.looper {
  margin-bottom: 110px;

  @extend .clearfix;
  .shor-loop {
    text-align: center;
    h2 {
      font-size: 30px;

      margin-bottom: 30px;
      a {
        text-decoration: none;

        color: #000;
      }
    }
    p {
      margin-bottom: 20px;
    }
    .btn {
      width: 150px;
      margin: 0 auto 20px;
    }
  }
  .feature-img {
    position: relative;
    img {
      width: 100%;
    }
    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;

      width: 70px;

      @include linear-gradient(to right, transparent, #fff);
      @extend .dblock;
    }
    &.feature-img--right {
      &:before {
        right: auto;
        left: 0;

        @include linear-gradient(to right, #fff, transparent);
      }
    }
  }
}
.pagination {
  padding: 30px 0;

  text-align: center;

  @extend .clearfix;
  span,
  a {
    display: inline-block;

    height: 30px;
  }
  a {
    text-decoration: none;

    color: $violet;
    &:hover {
      color: darken($violet, 14%);
    }
  }
  .current {
    font-weight: bold;
  }
  .next {
    float: right;
  }
  .prev {
    float: left;
  }
}
.circle-carousel {
  position: relative;

  display: block;

  height: 800px;
  margin: 0;
  padding: 0;
  ul {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .item {
    position: absolute;
    img {
      overflow: hidden;

      width: 100%;
      height: 100%;
    }
  }
  .item-1,
  .item-2 {
    width: 440px;
    height: 550px;
  }
  .item-3,
  .item-4,
  .item-5 {
    z-index: 2;
    top: 530px;

    width: 200px;
    height: 250px;

    border: 5px solid #fff;
  }
  .item-1 {
    top: 10px;
    left: 10px;
  }
  .item-2 {
    top: 10px;
    left: 480px;
  }
  .item-3 {
    left: 55px;
  }
  .item-4 {
    left: 365px;
  }
  .item-5 {
    left: 675px;
  }
  .circle-controls {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    left: 0;

    height: 50px;
    margin-top: -25px;
    span {
      font-size: 30px;
      font-weight: bold;
      line-height: 1.5;

      position: absolute;
      top: 0;

      display: block;

      width: 50px;
      height: 50px;

      cursor: pointer;
      text-align: center;

      color: #7c7c7c;
      border-radius: 50%;
      &.prev {
        left: -50px;
      }
      &.next {
        right: -50px;
      }
      &:hover {
        color: #000;
      }
    }
  }
}
.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url(../img/bg-modal-welcome.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .fa-times-circle {
    font-size: 50px;

    position: absolute;
    top: 50px;
    right: 50px;

    cursor: pointer;

    color: rgba(0, 0, 0, .5);
    &:hover {
      color: #000;
    }
  }
  &.modal-welcome {
    display: none;
    .row {
      padding-top: 140px;

      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      background-position: center 20px;
    }
    .modal-choose {
      height: 570px;
      margin-bottom: 5px;

      text-align: center;
      .choose-img {
        display: block;
        overflow: hidden;

        width: 450px;
        height: 500px;
        margin-bottom: 20px;

        border: 5px solid #fff;
        img {
          width: 100%;
          min-height: 500px;
        }
      }
      .btn {
        width: 70%;
      }
    }
    .modal-social {
      ul {
        display: block;

        text-align: center;
        li {
          font-size: 35px;

          display: inline-block;

          margin: 0 10px;
          a {
            color: #000;
          }
          &:hover {
            a {
              text-decoration: none;

              color: darken($violet, 20%);
            }
          }
        }
      }
    }
  }
  &.modal-order {
    display: none;

    padding-top: 150px;
    form {
      width: 460px;
      margin: 0 auto;
      input,
      select {
        height: 40px;
        margin-bottom: 10px;
        &[type=submit] {
          display: block;

          width: 60%;
          height: auto;
          margin: 0 auto;
        }
      }
      select {
        width: 100%;
        option {
          width: 100%;
        }
      }
      textarea {
        height: 150px;
        margin-bottom: 10px;
      }
    }
  }
}
.price-second {
  margin-bottom: 30px;
  .price-second-img {
    display: block;
    overflow: hidden;

    height: 315px;
    margin-bottom: 20px;

    border: 5px solid gray;
    img {
      width: 100%;
      min-height: 100%;
    }
  }
  h5 {
    font-size: 26px;
    font-weight: bold;

    margin-bottom: 15px;

    color: #000;
  }
  p {
    font-size: 22px;
    line-height: 1.2;

    margin-bottom: 10px;

    color: #000;
  }
  .price-container {
    font-size: 50px;
    font-weight: 200;
color: #000;
    display: block;

    margin-bottom: 20px;
  }
}
footer {
  height: $footer;
  margin: $footer_margin auto 0;
  padding-top: 70px;

  @include linear-gradient(#fff, #737373);
  .nav-footer {
    font-size: 16px;
    line-height: 30px;
    ul {
      @extend .justify-child;
    }
    li {
      a {
        color: #000;
      }
      &:hover {
        a {
          text-decoration: none;

          color: darken($violet, 20%);
        }
      }
    }
  }
  .footer-socail {
    ul {
      li {
        display: inline-block;

        margin: 0 5px 0 0;
        a {
          color: #000;
        }
        &:hover {
          a {
            color: $violet;
          }
        }
      }
    }
  }
  .nav-footer,
  .footer-socail {
    height: 25px;
    margin-bottom: 45px;
  }
  .copyright {
    font-size: 14px;
    line-height: 1;

    text-align: center;

    color: #000;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_raleway';
@import 'base64';
@import 'import/print';
