@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  height: 170px;

  background-color: #fff;
}
.logo-container {
  padding-top: 35px;
  .logo {
    display: block;

    width: 585px;
    height: 111px;
    margin-left: 20px;
    img {
      max-width: 100%;
    }
  }
}
.header-social-container {
  padding-top: 60px;
  .header-social {
    @extend .clearfix;
    li {
      display: inline-block;
      float: left;

      width: 50px;
      height: 50px;
      margin: 0 10px 0 0;

      border-radius: 50px;
      a {
        font-size: 30px;
        line-height: 1.6;

        display: block;

        width: 50px;
        height: 50px;

        text-align: center;

        color: $violet;
        border: 1px solid $violet;
        border-radius: 50%;
      }
      &:hover {
        a {
          color: darken($violet, 10%);
          border-color: darken($violet, 10%);
        }
      }
    }
  }
}

nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
  &.nav__header {
    height: 58px;
    margin-bottom: 50px;

    text-align: center;

    @include linear-gradient(#969696, #717171);
    ul {
      display: block;

      padding-top: 7px;

      text-align: center;

      @extend .justify-child;
      li {
        font-size: 24px;

        display: inline-block;

        text-transform: uppercase;

        border-radius: 10px;
        a {
          display: block;

          padding: 0 20px;

          color: #fff;
          border-color: red;
        }
        &:hover {
          background-color: $gray-dark;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
  .page-title {
    font-size: 60px;
    line-height: 45px;

    position: relative;

    margin-bottom: 40px;
    padding-bottom: 25px;

    text-align: center;
    &:after {
      position: absolute;
      right: 24%;
      bottom: 0;
      left: 24%;

      width: 48%;
      height: 1px;

      background-color: $gray-dark;

      @extend .dblock;
    }
  }
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;
  padding-top: 70px;

  @include linear-gradient(#fff, #737373);
  .nav-footer {
    font-size: 16px;
    line-height: 30px;
    ul {
      @extend .justify-child;
    }
    li {
      a {
        color: #000;
      }
      &:hover {
        a {
          text-decoration: none;

          color: darken($violet, 20%);
        }
      }
    }
  }
  .footer-socail {
    ul {
      li {
        display: inline-block;

        margin: 0 5px 0 0;
        a {
          color: #000;
        }
        &:hover {
          a {
            color: $violet;
          }
        }
      }
    }
  }
  .nav-footer, .footer-socail {
    height: 25px;
    margin-bottom: 45px;
  }
  .copyright {
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 1;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_raleway';
@import 'base64';
@import 'import/print';
